﻿@page
@using Tecan.Sila2.Interop.Server.Pages
@model InteroperabilityModel
@{
    ViewData["Title"] = "Interoperability Tests";
}
<h1>@ViewData["Title"]</h1>

<p>This server supports the following interoperability tests:</p>

<ul>
    <li>ComplexDataTypeTest</li>
    <li>DataTypeProvider</li>
    <li>ObservableCommandTest</li>
    <li>ObservablePropertyTest</li>
    <li>ParameterConstraintsTest</li>
</ul>
